@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  text-align: justify;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem 5rem;
  font-size: 2.3rem;
  border-bottom: 1px solid black;
  padding-bottom: 1.5rem;
  flex-wrap: wrap;

  & a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: darkcyan;
    }
  }
}

main {
  padding: 1rem 10rem;
  font-size: 1.7rem;
}

form {
  display: grid;
  gap: 1rem;

  & label {
    display: grid;
  }

  & textarea {
    resize: vertical;
    width: 99.5%;
  }

  .message-type {
    display: flex;
    gap: 1.3rem;

    & label {
      display: flex;
    }
  }
}

address {
  display: grid;
  place-items: center;
  font-style: normal;

  & ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
