@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  text-align: justify;
  font-family: "Poppins", Bahnschrift, sans-serif;
  scroll-behavior: smooth;
}

main {
  padding: 10px 100px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: larger;
}

form {
  display: grid;
  gap: 15px;

  & label {
    display: grid;
  }

  & textarea {
    resize: vertical;
    width: 99.5%;
  }

  .message-type {
    display: flex;
    gap: 20px;

    & label {
      display: flex;
    }
  }
}
