@media (width <=940px) {
    html {
        font-size: 95%;
    }

    .hero-content {
        width: 60vw;
        background-color: rgba(240, 248, 255, 0.7);
        padding: 1rem;
    }
}

@media (width <=768px) {
    html {
        font-size: 90%;
    }

    #hero-section {
        display: flex;
        justify-content: center;
    }

    .hero-content {
        width: 80vw;
        left: 0;
        transform: translateY(0);
    }

    #intro {
        padding: 2rem;
    }

    #intro .heading {
        text-wrap: wrap;

    }

    footer {
        width: 90vw;
    }

    .footer-links {
        order: 1;
    }

    footer .address {
        order: 2;
    }
}

@media (width <=565px) {
    html {
        font-size: 80%;
    }

    .hero-content {
        width: 95vw;
    }

    footer * {
        text-align: center;
        gap: 1rem;
    }

    .footer-img {
        display: none;
    }
}