/* * ------------ Base line ------------ * */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(211, 211, 211);
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
}

/* * ------------ Layout --------------- * */
body {
  background-color: #202020;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}

/* * ------------ Reusable --------------- * */
.btn {
  display: block;
  width: 63px;
  max-width: 63px;
  min-width: 63px;
  padding: 20px 24px;
  font-size: 2rem;
  background: #242525;
  border: none;
  border-radius: 10px;
  color: #bbb7b3;
  box-shadow: -1px -1px 5px #000, 4px 1px 5px #2e2d2d, inset 1px 1px 5px #000000,
    inset -10px -10px 5px #202020;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  margin: 10px;
}

.btn {
  &:hover {
    background-color: rgba(56, 56, 58, 0.723);
  }

  &:active {
    box-shadow: 1px 1px 5px #5b5b5b, -1px -1px 5px #000,
      inset 1px 1px 5px #5b5b5b, inset -1px -1px 5px #000;
  }
}

/* * ------------ States --------------- * */

.container {
  max-width: 300px;
  min-width: max-content;
  font-size: 3rem;
  padding: 10px;
  margin: 5% auto;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #000;
}

.calculator {
  width: 100%;
  background-color: #1d1d1d;
}

.screen {
  max-width: 313px;
  background-color: #000;
  padding: 20px 15px 40px;
  margin: 10px 0 10px 8px;
  border-radius: 10px;
  text-align: right;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0);
  letter-spacing: 1px;
}

.numbers {
  margin-right: 10px;
}

.reset {
  padding: 20px 72.5px;
  background-color: crimson;
  color: #fff;

  &:hover {
    background-color: rgb(240, 23, 66);
  }

  &:active {
    box-shadow: none, none, inset 1px 1px 5px crimson, none;
  }
}

.pos-opr {
  padding: 61px 24px;
  margin: 20px 10px;
}

.zero {
  padding: 20px 18.5px;
}

.equal-opr {
  background-color: #148d96;

  &:hover {
    background-color: #0d838b;
  }

  &:active {
    box-shadow: none, none, inset 1px 1px 5px #148d96, none;
  }
}
